.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.contact__title{
    font-size: var(--sizes-2xl);
    color: var(--clr-light);
    text-transform: capitalize;
}

.contact__description{
    font-size: var(--sizes-sm);
    color: var(--clr-slate600);
    max-width: 60ch;
}

.contact__btn{
    font-size: var(--sizes-sm);
}

@media (min-width: 475px) {
    .contact{
        gap: 1.5rem;
    }

    .contact__title{
        font-size: var(--sizes-3xl);
    }

    .contact__description{
        font-size: var(--sizes-base);
    }

    .contact__btn{
        font-size: var(--sizes-sm);
    }
}

@media (min-width: 1024px) {
    
        .contact__title {
            font-size: var(--sizes-4xl);
        }
    
        .contact__description {
            font-size: var(--sizes-lg);
        }
    
        .contact__btn {
            font-size: var(--sizes-lg);
        }
}

@media (min-width: 1280px) {
    .contact {
            gap: 2rem;
        }
    
        .contact__title {
            font-size: var(--sizes-5xl);
        }
    
        .contact__description {
            font-size: var(--sizes-xl);
        }
    
        .contact__btn {
            font-size: var(--sizes-xl);
        }
}
