.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.hero__subtitles {
    color: var(--clr-slate100); /* Text color */
    font-size: 80px; /* Font size */
    text-align: center; /* Center-align text */

    /* Glowing animation */
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1f1e1e, 0 0 40px #423d40, 0 0 50px #3f3a3d, 0 0 60px #4a4648, 0 0 70px #434343; /* Initial text shadow */
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #654dff, 0 0 40px #654dff, 0 0 50px #654dff, 0 0 60px #654dff, 0 0 70px #654dff, 0 0 80px #2404f4; /* Final text shadow */
    }
}


.hero__title{
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--sizes-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description{
    max-width: 60ch;
    font-size: var(--sizes-sm);
    color: var(--clr-slate600);
}

.hero__btn{
    text-transform: capitalize;
    font-size:var(--sizes-sm)
}

@media (min-width:475px) {
    .hero {
            gap: 1.5rem;
        }
    
        .hero__img {
            width: 6.5rem;
            height: 6.5rem;
        }
    
        .hero__subtitles {
            font-size: var(--sizes-lg);
        }
    
        .hero__title {
            font-size: var(--sizes-5xl);
        }
    
        .hero__description {
            font-size: var(--sizes-base);
        }
    
        .hero__btn {
            font-size: var(--sizes-base)
        }
}

@media (min-width:1024px) {
        .hero__img {
            width: 8rem;
            height: 8rem;
        }
    
        .hero__subtitles {
            font-size: var(--sizes-2xl);
        }
    
        .hero__title {
            font-size: var(--sizes-5xl);
        }
    
        .hero__description {
            font-size: var(--sizes-lg);
        }
    
        .hero__btn {
            font-size: var(--sizes-lg)
        }
}

@media (min-width:1280px) {

    .hero{
        gap: 2rem;
    }
    .hero__img{
        width: 8rem;
        height: 8rem;
    }

    .hero__subtitles{
        font-size: var(--sizes-1xl);
    }

    .hero__title{
        font-size: var(--sizes-7xl);
    }

    .hero__description{
        font-size:var(--sizes-xl)
    }
}